.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* margin: 0 0 30px; */
  background-color: #1266F1;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 1.5em;
  margin-block-start: 0;
  margin-block-end: 0;
  /* font-weight: 700; */
  color: white;
  /* padding-left: 10px; */
  /* margin: 0; */
  vertical-align: center;
}

.navLink {
  display: inline-block;
  color: white;
  background-color: #1266F1;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #008183;
}

.header-image {
  padding-left: 13px;
  padding-top: 7px;
}

.header-logo {
  padding-top: 10px;
}
