.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* margin: 0 0 30px; */
  background-color: #1266F1;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

/* .nav-title {
  margin-block-start: 0;
  margin-block-end: 0;
  color: white;
} */

.navLink {
  font-family: opendyslexicregular;
  display: inline-block;
  color: white;
  background-color: #1266F1;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

/* .navLink:hover {
  background-color: white;
  color: red;
} */

/* Genocchio Productions image: */
.header-image { 
  padding-left: 13px;
  padding-top: 7px;
  height: 20px;
  max-height: 43px;
  min-height: 20px;
}

/* Pack Me Up image: */
.header-logo {
  padding-top: 18px;
}
