.nav {
  /* flex box layout */
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  /* margin: 0 0 30px; */
  background-color: #1266F1;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

/* .nav-title {
  margin-block-start: 0;
  margin-block-end: 0;
  color: white;
} */

.navLink {
  font-family: opendyslexicregular;
  display: inline-block;
  color: white;
  background-color: #1266F1;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

/* .navLink:hover {
  background-color: white;
  color: red;
} */

/* Genocchio Productions image: */

.GenocchioImage-wrapper {
  /* max-height: 42px;
  float: left; */
  /* margin: 0px 20px; */
  margin-right: 25px;
  margin-left: 12px;
}

.GenocchioImage { 
  /* padding-left: 13px;
  padding-top: 7px;
  max-width: 100%; */
  height: 42px;
}

/* Pack Me Up image: */
.PackMeUpImage-wrapper {
  margin: 0px 25px;
}

.PackMeUpImage {
  /* padding-top: 18px; */
  height: 70px;
}

.NavDrawer-wrapper {
  /* float: right; */
  /* margin: 10px; */
  margin-left: 25px;
}